h2{
    color:black;
}

h1{
    margin-block-start: 0em;
    color:black;
}

.input_area{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

input{
    height:1,5em;
}

.container{
    background-color: rgb(255, 224, 229);
    display: inline-flex;
    padding: 10em;
    border-radius: 1em;
    flex-direction: column;
    align-items: center;
    width: 30em;
}

.area{
    display:flex;
    justify-content: center;
}

button{
    height: 4em;
    width: 100%;
    background-color: palevioletred;
    border: none;
    color: white;
}

button:hover{
    cursor:pointer;
}
